body { padding-top: 70px; }
nav { padding-right: 10px; }

body {
 	background-size: 500px;
	background-position: center;
}

#painting-wrapper {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: calc(100% - 5em) !important;
	width: 100%;
	margin: 5em auto 0 auto;
    overflow: hidden;
	/* opacity: 0;
	transition: opacity 1s; */
}
.item {
	width: 320px;
	height: 320px;
	background-size: contain !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
}

.container {
    position: relative;
    background: rgba(255, 255, 255, 0.8) !important;
    border: 0 !important;
    border-radius: 0 !important;
}