body { padding-top: 70px; }
nav { padding-right: 10px; }

body {
 	background-size: 500px;
	/* background-position: center; */
}

#painting-wrapper {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	height: 100% !important;
	width: 100%;
	margin: 0 auto 0 auto;
    overflow: hidden;
    background: url(/static/huntserver/bg/ornament-4216829_640.jpg);
	border-top: 5em solid transparent;
	/* opacity: 0;
	transition: opacity 1s; */
}
.item {
	width: 320px;
	height: 320px;
	background-size: contain !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
}

.container {
    position: relative;
    background: rgba(255, 255, 255, 0.8) !important;
    border: 0 !important;
    border-radius: 0 !important;
}